(
    id: "eff_000019",
    name_key: "effect.eff_000019.name",
    desc_key: "effect.eff_000019.desc",
    icon_key: None,
    duration: HasDuration(
        turns: 2,
        calculation: Fixed,
    ),
    period: None,
    tick_execution: None,
    modifiers: [],
    granted_tags: ["burning"],
    required_tags: None,
    removed_tags: None,
    application_condition: None,
    stacking: (
        stacking_type: None,
        max_stacks: 1,
        allow_cross_source: true,
        overflow_behavior: Refresh,
        reapply_modifiers_on_stack: false,
    ),
    effect_tags: ["Debuff", "Fire"],
    execution: None,
    cues: [],
    visible: true,
    dispellable: true,
    display_priority: 6,
)
