(
    id: "eff_000024",
    name_key: "effect.eff_000024.name",
    desc_key: "effect.eff_000024.desc",
    icon_key: None,
    duration: Instant,
    period: None,
    tick_execution: None,
    modifiers: [],
    granted_tags: [],
    required_tags: None,
    remove_effects_with_tags: Some(["Debuff", "CrowdControl"]),
    removed_tags: None,
    application_condition: None,
    stacking: (
        stacking_type: None,
        max_stacks: 1,
        allow_cross_source: false,
        overflow_behavior: IgnoreNew,
        reapply_modifiers_on_stack: false,
    ),
    effect_tags: ["Healing", "Cleanse"],
    execution: None,
    cues: [],
    visible: true,
    dispellable: false,
    display_priority: 10,
)
