(
    id: "eff_000017",
    name_key: "effect.eff_000017.name",
    desc_key: "effect.eff_000017.desc",
    icon_key: None,
    duration: HasDuration(
        turns: 1,
        calculation: Fixed,
    ),
    period: None,
    tick_execution: None,
    modifiers: [],
    granted_tags: ["stunned"],
    required_tags: None,
    removed_tags: None,
    application_condition: None,
    stacking: (
        stacking_type: None,
        max_stacks: 1,
        allow_cross_source: false,
        overflow_behavior: IgnoreNew,
        reapply_modifiers_on_stack: false,
    ),
    effect_tags: ["CrowdControl", "Debuff"],
    execution: None,
    cues: [],
    visible: true,
    dispellable: true,
    display_priority: 10,
)
